import React from 'react';
import './recipe.css';


export const Recipe{{name}} = () => {
    return (
        <React.Fragment>
            <div className="ingredients">
                <ul>
                   {{#each ingredients}}
                   <li>{{this.ingredient}}</li>
                   {{/each}}
                </ul>
            </div>
            <div className="steps">
                <ol>
                    {{#each steps}}
                    <li>{{this.step}}</li>
                    {{/each}}
                </ol>
            </div>
        </React.Fragment>
    );
};