.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #D35B38;
  height: 12vh;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .Text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}

.App-header .Subtitle {
  font-size: calc(10px + 1vmin);
}

.App-header .Logo {
  max-width: 50px;
}

.App-body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.App-body .Menu {
  overflow: auto;
  max-width: 15vw;
  border: #D35B38 2px solid;
  color: #D35B38;
  font-weight: bold;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  margin: 5px;
}

.App-body .Recipe {
  overflow: hidden;
  flex-grow: 1;
  border: #D35B38 2px solid;
  flex-grow: 1;
  padding: 1vw;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}